<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dfki.falldetector">

    <!--to select contacts for emergency SMS-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--to send emergency SMS to contacts-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--to add GPS location to SMS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!--specify main activity, register FallAlertListenerService-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ContactSelector"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".FallAlertListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>
</manifest>
